project.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="game" type="gameType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="gameType">
        <xs:sequence>
            <xs:element name="name" type="shortString" />
            <xs:element name="tags" type="tagsType" />
            <xs:element name="quote" type="tagsType" />
            <xs:element name="image" type="tagsType" />
            <xs:element name="description" type="tagsType" />
            <xs:element name="statistics" type="tagsType" />
            <xs:element name="gallery" type="tagsType" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer"></xs:attribute>
    </xs:complexType>

    <xs:simpleType name="tagsType">
        <xs:list itemType="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="shortString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="30" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>